<div class="containertest">

    <div class="slides">
        <!-- <img class="absolute"  src="../../../../assets/maqueta11//MAGNA Diapositiva 1_ elemento 1.png">-->



        <h5 class="slidesubtitle">Reglas de Seguridad


        </h5>




        <div class="slidesiframe loading">

            <iframe allow="autoplay"
                src="https://www.youtube.com/embed/33bLxrQe0Cc?autoplay=1&modestbranding=1&controls=1&amp;&vq=hd1080"
                frameborder="2" allowfullscreen auto onload="this.parentElement.classList.remove('loading');"></iframe>

        </div>

    </div>
</div>