<div class="containertest">

    <div class="slides">
        <!--<img class="absolute"  src="../../../../assets/maqueta11//MAGNA Diapositiva 2_ elemento 1.png">-->



        <!-- <h5 class="slidesubtitle text-grey">Accidentes, incidentes: Riesgos de Trabajo
            </h5>-->




        <div class="slidesiframe loading">

            <iframe allow="autoplay"
                src="https://www.youtube.com/embed/ghYeCfNyvUY?autoplay=1&modestbranding=1&controls=1&amp;&vq=hd1080"
                frameborder="2" allowfullscreen auto onload="this.parentElement.classList.remove('loading');"></iframe>

        </div>

    </div>
</div>